<div class="container">
  <div class="row d-flex justify-content-center p-4">
    <div class="col">
      <h3>山東小包子</h3>
      <p>山東小包子的精神與源起 :
        「天道酬勤，地道酬善，人道酬誠，商道酬信，業道酬精」，我們山東酵匠的源起與命名就是2個窮就一生精力，秉持著職人匠心，不斷研究山東發酵的人所組成。將山東發酵的技術推衍實驗到極致，做出組織綿密，口感細緻Q彈的包子饅頭。以誠信的態度對待每一位消費，堅持不添加人工香料與色素，只採用純天食材入色。滿滿的餡料與新鮮的食材讓山東酵匠的包子饅頭香氣四溢，芬芳可口。我們所使用的著名食材有大甲芋頭，寶山黑糖和台南東山龍眼木煙燻桂圓，本地黑豬肉，鮮蔥及高山高麗菜，另外，麵粉更是使用僑泰興頂級麵粉(鼎泰豐同供應商)，真正的誠信，專業地態度作為企業的根本。
      </p>
    </div>
    <div class="col">
      <img src="../../assets/images/about_001.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>
