<div class="container">
  <div class="row">
    <div class="sidebar col-6">
      <p class="p-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quam nulla, aliquet quis tincidunt in,
        convallis vitae leo. Ut felis purus, pulvinar ac adipiscing ut, gravida in arcu. Vivamus fermentum, quam et
        adipiscing bibendum, nibh nisl pretium tellus, in cursus lacus nulla id felis. Aenean rhoncus, urna quis
        faucibus
        molestie, leo massa egestas mauris, eget fermentum lorem lacus quis enim.
      </p>

      <div class="connect position-relative text-center">
        <img src="../../assets/images/followeUs.png" alt="" />

        <h2 class="followeUs">Follow Us</h2>
        <div class="social">
          <a href="http://freewebsitetemplates.com/go/twitter/" id="FB"><img src="../../assets/images/FB.png"
              alt="" /></a>
          <a href="http://freewebsitetemplates.com/go/twitter/" id="YouTube"><img src="../../assets/images/YouTuBe.png"
              alt="" /></a>
          <a href="http://freewebsitetemplates.com/go/twitter/" id="IG"><img src="../../assets/images/IG.png"
              alt="" /></a>
        </div>
      </div>
    </div>

    <div class="home col-6">
      <a href="http://localhost:4200/gallery" id="view-more"><img src="../../assets/images/ViewMore.png" alt="" /></a>
      <a href="http://localhost:4200/gallery" id="click-here">
        <img src="../../assets/images/ClickHere.png" alt="" />
      </a>

      <div class="bg-white p-3 rounded mb-5">
        <h3 class="galleryStyle rounded">畫廊</h3>
        <ul class="row">
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery3.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery4.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery3.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery4.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery3.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery4.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery1.jpg" alt=""></a>
          </li>
          <li class="d-flex col-4 justify-content-around ">
            <a href="#"><img src="../../assets/images/gallery2.jpg" alt=""></a>
          </li>
        </ul>



        <nav class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
