/* .fw {
  width: 100%;
  height: auto;
} */

* {
  font-family: "Noto Sans TC", sans-serif;
}

/* TODO 下拉式選單 去除ul內建的 符號 */
.navbar-nav > ul {
  list-style-type: none;
}

.myHover:hover > li {
  font-size: 18px;
}

.myHover:hover {
  text-decoration: none;
}

.myWnH > div > img {
  /* width: 255px;
  height: 255px; */
}

/* change logo style */
.navbar-light .navbar-brand {
  font-weight: 800;
  font-size: 48px;
  color: saddlebrown;
  text-shadow: 5px 3px 6px black;
}

.navbar-light:hover .navbar-brand {
  color: rgb(110, 56, 17);
}

/* form-style */
.form-style {
  background: lightyellow;
}

.form-style > :first-child h2 {
  font-weight: 600;
  color: saddlebrown;
}
