/* .fw {
  width: 100%;
  height: auto;
} */

* {
  font-family: "Noto Sans TC", sans-serif;
}

/* form-style */
.form-style {
  background: lightyellow;
}

.form-style > :first-child h2 {
  font-weight: 600;
  color: saddlebrown;
}
