<div class="container p-5">
  <div class="row">
    <div class="col-6">
      <p class="p-5">
        <i>Please feel free to remove some or all the text and links of this page and replace it with your own About
          content.</i><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quam nulla, aliquet
        quis tincidunt in, convallis vitae leo. Ut felis purus, pulvinar ac adipiscing ut, gravida in arcu. Vivamus
        fermentum, quam et adipiscing

      </p>

      <div class="position-relative text-center">
        <img class="pb-5" src="../../assets/images/followeUs.png" alt="" />
        <h2 class="followeUs">Follow Us</h2>
        <div class="social">
          <a href="http://freewebsitetemplates.com/go/twitter/" id="FB">
            <img src="../../assets/images/FB.png" alt="" /></a>
          <a href="http://freewebsitetemplates.com/go/twitter/" id="YouTube">
            <img src="../../assets/images/YouTuBe.png" alt="" /></a>
          <a href="http://freewebsitetemplates.com/go/twitter/" id="IG">
            <img src="../../assets/images/IG.png" alt="" /></a>
        </div>

        <div>
          <a href="http://localhost:4200/gallery" id="view-more"><img src="../../assets/images/ViewMore.png"
              alt="" /></a>
          <a href="http://localhost:4200/gallery" id="click-here">
            <img src="../../assets/images/ClickHere.png" alt="" />
          </a>
        </div>
      </div>
    </div>


    <div class="bg-white col-6 p-4">
      <h3>About</h3>
      <div>
        <h3>We Have Free Templates for Everyone</h3>
        <p>
          Our website templates are created with inspiration, checked for quality and originality and meticulously
          sliced and coded. What’s more, they&#39;re absolutely free! You can do a lot with them. You can modify them.
          You can use them to design websites for clients, so long as you agree with the <a
            href="http://www.freewebsitetemplates.com/about/terms">Terms of Use</a>. You can even remove all our links
          if you want to.
        </p>
        <h3>We Have More Templates for You</h3>
        <p>
          Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free
            Website Templates</a> and find what you’re looking for. But if you don’t find any website template you can
          use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service
          and tell us all about it. Maybe you’re looking for something diferent, something special. And we love the
          challenge of doing something diferent and something special.
        </p>
        <h3>Be Part of Our Community</h3>
        <p>
          If you&#39;re experiencing issues and concerns about this website template, join the discussion <a
            href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community
          who share the same interests with you.
        </p>
        <h3>Template details</h3>
        <p>
          Design version 3 <br> Code version 3 <br> Website Template details, discussion and updates for this <a
            href="http://www.freewebsitetemplates.com/discuss/iphonegamewebtemplate/">iPhone Game Website Template</a>.
          <br> Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
